*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}

/* navbar */


.nav-bar{
    display: flex;
    align-items: center;
    justify-content:space-between; 
    background-color: rgba(26, 32, 44);
    height: 5.5rem;  
}

.container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 56.25rem;
    height: 1.875rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-size: 1rem;
    /* width: 30rem; */
    

}

.nav-logo{   
    color: #FFFFFF;
    width:70rem;
    justify-content: left;
    font-size: 1.9rem;
}
.nav-logo a{
    text-decoration: none;
    color: #FFFFFF;
}

.home{
    width:4.063rem;
    height: 1.5rem;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.home a{
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home a:hover{
     border: 0.188rem solid #FFFFFF;
     background-color: transparent; 
    color: #FFFFFF;
}

.about{
    width: 4.063rem;
    height: 1.5rem;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.about a{
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about a:hover{
     border: 0.188rem solid #FFFFFF;
     background-color: transparent; 
    color: #FFFFFF;
}
.donate{
    width: 4.688rem;
    height: 1.5rem;
    color: #FFFFFF;
    /* margin-right: 20px; */
    text-decoration: none;
    font-size: 1.5rem;
}

.donate a{
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.donate a:hover{
    border: 0.188rem solid #FFFFFF;
    background-color: transparent; 
   color: #FFFFFF;
}

.partners{
    width: 9.375rem;
    height: 1.5rem;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.partners a{
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.partners a:hover{
    border: 0.188rem solid #FFFFFF;
    background-color: transparent; 
   color: #FFFFFF;
}

.contact{
    width: 5rem;
    height: 1.5rem;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.contact a{
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact a:hover{
    border: 0.188rem solid #FFFFFF;
    background-color: transparent; 
   color: #FFFFFF;
}


.login{
    width: 3.75rem;
    height: 1.5rem;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.login a{
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login a:hover{
     border: 0.188rem solid #FFFFFF;
     background-color: transparent; 
    color: #FFFFFF;
}


.signup{
    width: 5.625rem;
    height: 1.5rem;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.signup a{
    text-decoration: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.signup a:hover{
     border: 0.188rem solid #FFFFFF;
     background-color: transparent; 
    color: #FFFFFF;
}



/* hero */


.hero{
    height: 54.37rem;
    width: 100%;
    background-color:rgb(165, 209, 208) ;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero1{
    width: 100%;
    height: 24.06rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}
.hero-part1{
    width: 37.5rem;
    height: 25rem;
    font-size: 2.25rem;
    margin-top: 15.62rem;
}
.button-donate {
    padding: 1.06rem 2.5rem;
    border-radius: 0.625rem;
    border: 0;
    background-color: rgb(255, 56, 86);
    letter-spacing: 0.094rem;
    font-size: 0.938rem;
    transition: all 0.3s ease;
    box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
  }
  .button-donate:hover {
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
  }
  .button-donate:active {
    background-color: rgb(255, 56, 86);
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
  }
.hero-part2{
    width: 37.5rem;
    height: 25rem;
    /* background-color: #FFFFFF; */
    background-image: url("hero.jpg");
    background-size: cover;
    border-radius: 0.625rem;
}
#donate-page{
    color: #FFFFFF;
    text-decoration: none;
    font-size:1.5rem;
}

/* hero2 */

.hero2{
    background-color: rgb(194, 255, 255);
    height: 74.75rem;
    display: flex;
    align-items: center;
    justify-content: center;  
    width: 100%;
}

.hero2-part1{
    width: 45.5rem;
    height: 62.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-left: 1.25rem;
    margin-right: 1.25;
    background-color: rgb(194, 255, 255);

    
}
.heading{
    width:45.5rem;
    height: 3.25rem;
    margin-bottom: 5rem;
}
.hero2-item1{
    width: 45.5rem;
    height: 12.5rem;
    display: flex;
}

.hero2-img1{
    width: 12.5rem;
    height: 12.5rem;
    background-image: url("hero2-img1.jpg");
    background-size: cover;
}
.hero2-img1-data{
    width: 31rem;
    height: 10.25rem;
    padding-left: 2rem;
}

.hero2-item2{
    width: 45.5rem;
    height: 12.5rem;
    display: flex;
}

.hero2-img2{
    width: 12.5rem;
    height: 12.5rem;
    background-color: #FFFFFF;
    background-image: url("hero2-img2.jpg");
    background-size: cover;
}
.hero2-img2-data{
    width: 31rem;
    height: 10.25rem;
    padding-left: 2rem;
}

.hero2-item3{
    width: 45.5rem;
    height: 12.5rem;
    display: flex;
}


.hero2-img3{
    width: 12.5rem;
    height: 12.5rem;
    background-color: #FFFFFF;
    background-image: url("hero2-img3.jpg");
    background-size: cover;
}
.hero2-img3-data{
    width: 31rem;
    height: 10.25rem;
    padding-left: 2rem;
}


.hero2-item4{
    width: 45.5rem;
    height: 12.5rem;
    display: flex;
}

.hero2-img4{
    width: 12.5rem;
    height: 12.5rem;
    background-color: #FFFFFF;
    background-image: url("hero2-img4.jpg");
    background-size: cover;
}
.hero2-img4-data{
    width: 31rem;
    height: 10.25rem;
    padding-left: 2rem;
}


 /* hero3 */


.hero3{
    height: 37.5rem;
    background-color: rgb(139, 181, 181);
}
.hero3-item{
    height: 17.62rem;
    padding-top: 9.37rem;
    padding-bottom: 9.37rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
.hero3-img{
    width: 12.5rem;
    height: 12.5rem;
     background-color: #FFFFFF; 
    background-image: url("hero3.jpg");
    background-size: cover;
}
.hero3-img-data{
    width: 31rem;
    height: 10.25rem;
    padding-left: 2rem;
}

#enquire-page{
    color: #FFFFFF;
    text-decoration: none;
    font-size:1rem;
}



/* body */
.cloth-wear{
    background-color: #918ad4;
}
.men-heading{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.men-heading span{
    color:rgb(5, 167, 167) ;
}
.box-1{
    background-color: rgb(243, 240, 240);
    height: 25rem;
    width: 20rem;
    margin-left: 3rem;
    margin-bottom: 0.625rem;
    margin-right: 0.625rem;
}
.box-1 p{
    margin-left: 2.5rem;
    margin-top: 0.8rem;
}
.box-text{
    margin-left: 2.5rem;
    margin-top: 0.3rem;
}
.box-image1{
    background-image: url("hotel.jpg");
    width: 15rem;
    height: 15rem;
    background-size: cover;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    border-radius: 0.5rem;    
}
.box-text button{
    color: white;
    background-color:rgb(5, 167, 167);
    border: none;
    height: 1.5rem;
    width: 5.5rem;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
}

.box-2{
    background-color: rgb(243, 240, 240);
    height: 25rem;
    width: 20rem;
    margin-bottom: 0.625rem;
    margin-right: 0.625rem;
}
.box-2 p{
    margin-left: 2.5rem;
    margin-top: 0.8rem;
}

.box-image2{
     background-image: url("ngo.jpg"); 
    width: 15rem;
    height: 15rem;
    background-size: cover;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    border-radius: 0.5rem;    
}
.box-3{
    background-color: rgb(243, 240, 240);
    height: 25rem;
    width: 20rem;
    margin-right: 3rem;
}

.box-3 p{
    margin-left: 2.5rem;
    margin-top: 0.8rem;
}
.box-image3{
    background-image: url("resturant.jpg"); 
    width: 15rem;
    height: 15rem;
    background-size: cover;
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    border-radius: 0.5rem;    
}
.boxes{
    display: flex;
    justify-content: space-evenly;
}




/* our partners */

.our-partners{
    width: 100%;
    height: 50rem;
    background-color: #bebec8;
}

.our-partners h1{
    color: #130f0e;
    text-align: center;
}
.row1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.row1-data1{
    width: 18.75rem;
    height: 18.75rem;
    margin-top: 3.12rem;
    background-image: url("ngo.jpg");
    background-size: cover;
}

.row1-data2{
    width: 18.75rem;
    height: 18.75rem;
    margin-top: 3.12rem;
    background-image: url("hotel.jpg");
    background-size: contain;
}

.row2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.row2-data1{
    width: 18.75rem;
    height: 18.75rem;
    margin-top: 3.12rem;
    background-image: url("delivery.jpg");
    background-size: cover;
}

.row2-data2{
    width: 18.75rem;
    height: 18.75rem;
    background-color: #130f0e;
    margin-top: 3.12rem;
    background-image: url("resturant.jpg");
    background-size: cover;
}




/* login/signup/donate food/food requirement */
.register{
    height: 54.37rem;
    width: 100%;
    background-color: rgb(131, 152, 152);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form {
    background-color: #15172b;
    border-radius: 1.25rem;
    box-sizing: border-box;
    height: 34.37rem;
    padding: 1.25rem;
    width: 34.37rem;
  }
  
  .title {
    color: #eee;
    font-family: sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    margin-top: 1.87rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .input-container {
    height: 3.12rem;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 2.5rem;
  }
  
  .ic2 {
    margin-top: 1.87rem;
  }
  
  .input {
    background-color: #303245;
    border-radius: 0.75rem;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 1.12rem;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  
  .cut {
    background-color: #15172b;
    border-radius: 0.62rem;
    height: 1.25rem;
    left: 1.25rem;
    position: absolute;
    top: -1.25rem;
    transform: translateY(0);
    transition: transform 200ms;
    width: 4.75rem;
  }
  
  .cut-short {
    width: 3.12rem;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 1.25rem;
    line-height: 0.87rem;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 1.25rem;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #dc2f55;
  }
  
  .submit {
    background-color: #08d;
    border-radius: 0.75rem;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 1.12rem;
    height: 3.12rem;
    margin-top: 2.37rem;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: #06b;
  }




/* feedback form */

.food-register{
    height: 39.37rem;
    width: 100%;
   }
  .fb-form {
    max-width: 33.75rem;
    margin: 0 auto;
    padding: 1.25rem;
    border: 1px solid #ccc;
    border-radius: 0.313rem;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18.75rem;
}
.fb-form h2 {
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    color: #333;
}
.fb-form .form-control {
    width: 100%;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border: 1px solid #ccc;
    border-radius: 0.313rem;
}
.fb-form .rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}
.fb-form .rating i {
    color: #ffdd00;
    font-size: 24px;
    cursor: pointer;
}
.fb-form .btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}


            


/* footer */


footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-links, .footer-social {
    flex: 1;
    min-width: 12.5rem;
    margin-bottom: 1.25rem;
}

.footer-links h3, .footer-social h3 {
    font-size: 1.5rem;
    margin-bottom: 0.938rem;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer-social ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.footer-links ul li, .footer-social ul li {
    margin: 0 10px;
}

.footer-links ul li a, .footer-social ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover, .footer-social ul li a:hover {
    color: #ccc;
}
.footer-links ul li a  {
    font-size: 1.45rem;
}

.footer-social ul li a i {
    font-size: 1.5rem;
}

.footer-info {
    border-top: 1px solid #444;
    padding-top: 1.25rem;
    margin-top: 1.25rem;
    font-size: 0.880rem;
    width: 100%;
    text-align: center;
}


/* Responsive Styling */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-links, .footer-social {
        text-align: center;
    }

    .footer-links ul, .footer-social ul {
        flex-direction: column;
    }

    .footer-links ul li, .footer-social ul li {
        margin: 5px 0;
    }
}